body { 
    background-color:#f5e9bc; 
    font-family: system-ui ; 
    color: #93673d; 
    margin: 20px; 
} 
.header img {
 border-radius: 25px;
}
.container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
}

.gambar img {
  width: 450px;
  border-radius: 15px;
}

.h1 {
    text-align: center;
}
.teks h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #93673d;
}

.teks p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #3e2f1c;
}

.navbar {
  display: inline-block;
  gap: 10px;
  padding: 24px;
  background:#f5e9bc;
}

.navbar a {
  display:inline-block;   
  text-decoration: none;
  background: white;       
  color:#93673d ;
  padding: 10px 18px;
  border-radius: 15px;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.navbar a:hover {
  background:#93673d;
  color: white;
  transform: translateY(-2px);
}

a {
    color: #93673d ;
    text-decoration: underline;
}


.daftar-produk {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 20px;
}

.produk {
    background-color: floralwhite;
    border: 1px solid #ffffffdd;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-family: system-ui;
}

.produk img {
    width:200px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.produk h2 {
    font-size: 20px;
    color:#93673d;
}
.produk h3 {
    font-size: 16px;
    color:#93673d
}
.harga {
    font-weight: bold;
    color:#cda25cdd;
}
.deskripsi {
    font-size: 14px;
    color: #93673d;
}

.artikel {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: #fdfdfd;
    border-radius: 15px;

    line-height: 1.8;
}

.artikel .penulis {
    font-style: italic;
    color: #cda25cdd;
    margin-bottom: 20px;
}

.artikel .sampul {
    width: 180px;
    float: right;
    margin: 0 0 20px 20px;
    border: 1 px solod #ccc;
    box-shadow: 2px 2px 6px rgba (0,0,0,0.1);
}

.artikel blockquote {
    font-style: italic;
    padding-left: 20px;
    margin: 20px 0;
    border-left: 4px solid #999;
    color: #ba8d45dd;
    background-color: #f9f9f9;
}

.btn-kembali, #hapusSemua {
    display:inline-block;   
    text-decoration: none;
    background: #93673d;       
    color:white ;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.btn-kembali:hover {
    background:white;
    color: #93673d;
    transform: translateY(-2px);
}

#hapusSemua:hover {
    background:white;
    color: #93673d;
    transform: translateY(-2px);
}

.formulir {
    max-width: 600px;
    margin:auto;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba (0,0,0,0.1);
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;

}

form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color:#93673d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button :hover {
    background-color:#ba8d45dd;

}
